body{
  background-image:url('warframe.jpg');
  background-size:100%,100%;
  background-image:no-repeat;

}

nav{
  display: inline-block;
  text-align: right;
  vertical-align: middle;
  width:60%;
}

nav li{
  display:inline-block;
  margin-left:15px;
  font-size:1.1em;

}

header{
  width:60%;
  margin:auto;
  text-align:center;

}

header h1{
  text-align: center;
  width:auto;
  margin:auto;
  display: inline-block;
  vertical-align: middle;
}

h1 img{
display: inline-block;
width:auto;
margin:auto;
vertical-align: middle;
margin-right: 10px;
}
