/* Taille du message d'erreur */

.errorMessage{
    font-size:2rem;
}

/* navbar*/

.topBorder {
    width: 100%;
    height: 6.5rem;
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgba(0,0,0,0.5);
}

/* footer */

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* Généralités */

.rem{
    height:2rem;
}

.font-family-Michroma {
    font-family: 'Michroma', sans-serif;
}

.bg-dark-opac{
    background-color:rgba(52,58,54,0.8);
}

.bg-light-opac{
    background-color:rgba(248,249,250,0.8); 
}

/* Body */

body {
    height: 100%;
    position: relative;
    min-height: 100vh; /* will cover the 100% of viewport */
    display: block;
    position: relative;
    padding-bottom: 257px; /* height of your footer */
}

/* Lightbox de recherche */

.search, .bigSearch {
    cursor: pointer
}

.bigSearch {
    position: fixed;
    top: 20%;
    left: 25%;
    width: 50%;
    height: 60%;
    background-color: rgba(52,58,54,0.9);
    z-index:1021;
    display: none;
    align-items: center;
    justify-content: center;
}


/* Lightbox de connexion */

.connection, .bigConnection {
    cursor: pointer
}

.bigConnection {
    position: fixed;
    top: 15%;
    left: 25%;
    width: 50%;
    height: 70%;
    background-color: rgba(52,58,54,0.9);
    z-index:1021;
    display: none;
    align-items: center;
    justify-content: center;
}

/* Médias gérant la position et la taille des lightboxes en fonction de la taille du viewport */

@media screen and (max-width:950px) {

    .bigConnection {
        position: fixed;
        top: 5%;
        left: 5%;
        width: 90%;
        height: 90%;
        background-color: rgba(52,58,54,0.9);
        z-index:1021;
        display: none;
        align-items: center;
        justify-content: center;
    }
    .bigSearch {
        position: fixed;
        top: 5%;
        left: 5%;
        width: 90%;
        height: 90%;
        background-color: rgba(52,58,54,0.9);
        z-index:1021;
        display: none;
        align-items: center;
        justify-content: center;
    }

    .lastSubscriberWidth{
        width:100%!important;
    }
}
@media screen and (min-width:951px) and (max-width:1200px){

    .bigConnection {
        position: fixed;
        top: 5%;
        left: 5%;
        width: 90%;
        height: 90%;
        background-color: rgba(52,58,54,0.9);
        z-index:1021;
        display: none;
        align-items: center;
        justify-content: center;
    }
    .bigSearch {
        position: fixed;
        top: 10%;
        left: 5%;
        width: 90%;
        height: 80%;
        background-color: rgba(52,58,54,0.9);
        z-index:1021;
        display: none;
        align-items: center;
        justify-content: center;
    }

    .lastSubscriberWidth{
        width:50%!important;
    }
}

/* Médias gérant la taille du body en fonction de la taille du footer et le contenu de la navbar en fonction du viewport */

@media screen and (max-width:375px) {

    body {
        height: 100%;
        position: relative;
        min-height: 100vh; /* will cover the 100% of viewport */
        display: block;
        position: relative;
        padding-bottom: 714px; /* height of your footer */
    }

    #miniWar {
        display: none;
    }

    .topBorder h1 {
        display: none;
    }

    .topBorder {
        height: 2rem;
    }

    .warButton {
        margin-top: -0.5rem;
    }

    .nav-item{
        background-color:rgba(52,58,54,0.8);   
    }

    .helloMember{
        display:none;
    }
}

@media screen and (min-width:376px) and (max-width:414px) {

    #miniWar {
        display: none;
    }

    body {
        height: 100%;
        position: relative;
        min-height: 100vh; /* will cover the 100% of viewport */
        display: block;
        position: relative;
        padding-bottom: 666px; /* height of your footer */
    }

    .topBorder h1 {
        display: none;
    }

    .topBorder {
        height: 2.2rem;
    }

    .warButton {
        margin-top: -0.4rem;
    }

    .nav-item{
        background-color:rgba(52,58,54,0.8);   
    }

    .helloMember{
        display:none;
    }
}

@media screen and (min-width:415px) and (max-width:480px) {

    #miniWar {
        display: none;
    }

    .topBorder h1 {
        display: none;
    }

    .topBorder {
        height: 2.4rem;
    }

    .warButton {
        margin-top: -0.3rem;
    }

    .nav-item{
        background-color:rgba(52,58,54,0.8);   
    }

    .helloMember{
        display:none;
    }
}

@media screen and (min-width:481px) and (max-width:550px) {

    #miniWar {
        display: none;
    }
    
    .topBorder h1 {
        display: none;
    }

    .topBorder {
        height: 2.4rem;
    }

    .warButton {
        margin-top: -0.2rem;
    }

    .nav-item{
        background-color:rgba(52,58,54,0.8);   
    }

    .helloMember{
        display:none;
    }
}

@media screen and (min-width:551px) and (max-width:650px) {

    #miniWar {
        display: none;
    }

    .topBorder h1 {
        display: none;
    }

    .topBorder {
        height: 2.6rem;
    }

    .warButton {
        margin-top: -0.2rem;
    }

    .nav-item{
        background-color:rgba(52,58,54,0.8);   
    }

    .helloMember{
        display:none;
    }
}

@media screen and (min-width:651px) and (max-width:735px) {

    #miniWar {
        display: none;
    }

    body {
        height: 100%;
        position: relative;
        min-height: 100vh; /* will cover the 100% of viewport */
        display: block;
        position: relative;
        padding-bottom: 570px; /* height of your footer */
    }

    .topBorder h1 {
        display: none;
    }

    .topBorder {
        height: 2.9rem;
    }

    .nav-item{
        background-color:rgba(52,58,54,0.8);   
    }

    .helloMember{
        display:none;
    }
}

@media screen and (min-width:736px) and (max-width:740px) {

    #miniWar {
        display: none;
    }

    .topBorder h1 {
        display: none;
    }

    body {
        height: 100%;
        position: relative;
        min-height: 100vh; /* will cover the 100% of viewport */
        display: block;
        position: relative;
        padding-bottom: 570px; /* height of your footer */
    }

    .topBorder {
        height: 2.9rem;
    }

    .nav-item{
        background-color:rgba(52,58,54,0.8);   
    }

    .helloMember{
        display:none;
    }
}

@media screen and (min-width:741px) and (max-width:800px) {

    #miniWar {
        display: none;
    }

    .topBorder h1 {
        display: none;
    }


    body {
        height: 100%;
        position: relative;
        min-height: 100vh; /* will cover the 100% of viewport */
        display: block;
        position: relative;
        padding-bottom: 473px; /* height of your footer */
    }

    .topBorder {
        height: 2.9rem;
    }

    .nav-item{
        background-color:rgba(52,58,54,0.8);   
    }

    .helloMember{
        display:none;
    }
}

@media screen and (min-width:801px) and (max-width:900px) {

    #miniWar {
        display: none;
    }

    .topBorder h1 {
        display: none;
    }

    .topBorder {
        height: 3.7rem;
    }

    body {
        height: 100%;
        position: relative;
        min-height: 100vh; /* will cover the 100% of viewport */
        display: block;
        position: relative;
        padding-bottom: 449px; /* height of your footer */
    }
    
    .warButton {
        margin-top: 0.2rem;
    }

    .nav-item{
        background-color:rgba(52,58,54,0.8);   
    }

    .helloMember{
        display:none;
    }
}

@media screen and (min-width:901px) and (max-width:1200px) {


    #miniWar {
        display: none;
    }

    .topBorder h1 {
        display: none;
    }

    .topBorder {
        height: 3.7rem;
        text-align: center;
    }

    body {
        height: 100%;
        position: relative;
        min-height: 100vh; /* will cover the 100% of viewport */
        display: block;
        position: relative;
        padding-bottom: 449px; /* height of your footer */
    }

    .warButton {
        margin-top: 0.2rem;
    }

    .nav-item{
        background-color:rgba(52,58,54,0.8);   
    }

    .helloMember{
        display:none;
    }
}