body {
  background-image: url(../Images/warframe4.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.rem{
  height:2rem;
}

.font-family-germania {
  font-family: 'Germania One', cursive;
}

.topBorder {
  width: 100%;
  height: 6rem;
  padding-top: 1%;
  border: 1px solid black;
  border-radius: 10px;
  background-color: black;
}

#divHomeText {
  display: flex;
}

#homePageText {
  align-self: center;
  justify-content: center;
}

@media screen and (max-width:375px) {
  #homePageText {
    font-size: 0.8rem;
  }


  #miniWar {
    display: none;
  }

  .topBorder h1 {
    display: none;
  }

  .topBorder {
    height: 2rem;
  }

  #divHomeText {
    height: 10rem;
  }

  .warButton {
    margin-top: -0.5rem;
  }
}

@media screen and (min-width:376px) and (max-width:414px) {
  #homePageText {
    font-size: 1rem;
  }

  #miniWar {
    display: none;
  }

  .topBorder h1 {
    display: none;
  }

  .topBorder {
    height: 2.2rem;
  }

  #divHomeText {
    height: 11rem;
  }

  .warButton {
    margin-top: -0.4rem;
  }
}

@media screen and (min-width:415px) and (max-width:480px) {
  #homePageText {
    font-size: 1.3rem;
  }

  #miniWar {
    display: none;
  }

  .topBorder h1 {
    display: none;
  }

  .topBorder {
    height: 2.4rem;
  }

  #divHomeText {
    height: 13rem;
  }

  .warButton {
    margin-top: -0.3rem;
  }
}

@media screen and (min-width:481px) and (max-width:550px) {
  #homePageText {
    font-size: 1.3rem;
  }

  #miniWar {
    display: none;
  }

  .topBorder h1 {
    display: none;
  }

  .topBorder {
    height: 2.4rem;
  }

  #divHomeText {
    height: 15rem;
  }

  .warButton {
    margin-top: -0.2rem;
  }
}

@media screen and (min-width:551px) and (max-width:650px) {
  #homePageText {
    font-size: 1.3rem;
  }

  #miniWar {
    display: none;
  }

  .topBorder h1 {
    display: none;
  }

  .topBorder {
    height: 2.6rem;
  }

  #divHomeText {
    height: 18rem;
  }

  .warButton {
    margin-top: -0.2rem;
  }
}

@media screen and (min-width:651px) and (max-width:700px) {
  #homePageText {
    font-size: 1.6rem;
  }

  #miniWar {
    display: none;
  }

  .topBorder h1 {
    display: none;
  }

  .topBorder {
    height: 2.9rem;
  }

  #divHomeText {
    height: 19rem;
  }
}

@media screen and (min-width:701px) and (max-width:800px) {
  #homePageText {
    font-size: 1.6rem;
  }

  #miniWar {
    display: none;
  }

  .topBorder h1 {
    display: none;
  }

  .topBorder {
    height: 2.9rem;
  }

  #divHomeText {
    height: 21rem;
  }
}

@media screen and (min-width:801px) and (max-width:900px) {
  #homePageText {
    font-size: 2.2rem;
  }

  #miniWar {
    display: none;
  }

  .topBorder h1 {
    display: none;
  }

  .topBorder {
    height: 3.7rem;
  }

  #divHomeText {
    height: 22rem;
  }

  .warButton {
    margin-top: 0.2rem;
  }
}

@media screen and (min-width:901px) and (max-width:991px) {
  #homePageText {
    font-size: 2.2rem;
  }

  #miniWar {
    display: none;
  }

  .topBorder h1 {
    display: none;
  }

  .topBorder {
    height: 3.7rem;
    text-align: center;
  }

  #divHomeText {
    height: 22rem;
  }

  .warButton {
    margin-top: 0.2rem;
  }
}

@media screen and (min-width:992px) and (max-width:1024px) {
  #homePageText {
    font-size: 2.2rem;
  }

  #miniWar {
    display: none;
  }

  .topBorder h1 {
    font-size: 2.4rem;
  }

  .topBorder {
    height: 3.7rem;
    text-align: center;
  }

  #divHomeText {
    height: 22rem;
  }

  #navbarNav {
    position: relative;
    left: 7rem;
  }
}

@media screen and (min-width:1025px) and (max-width:1280px) {
  #homePageText {
    font-size: 2.8rem;
  }

  .topBorder h1 {
    font-size: 3rem;
  }

  #divHomeText {
    height: 25rem;
  }

  #navbarNav {
    position: relative;
    left: 9rem;
    margin-top: 1rem;
  }
}

@media screen and (min-width:1281px) {
  #homePageText {
    font-size: 3rem;
  }
  
  .topBorder h1 {
    font-size: 3.2rem;
  }

  #divHomeText {
    height: 34rem;
  }

  #navbarNav {
    position: relative;
    left: 10rem;
    margin-top: 1rem;
  }
}
