/*présent sur toute les pages*/

body{
    display:flex;
    flex-direction: column;
    height: 100%;
    position: relative;
    min-height: 100vh;
    padding-bottom: 257px; /* taille du footer */
}


* {
    box-sizing: border-box;
}

*:before,*:after {
    box-sizing: border-box;
}

.font-family-Michroma {
    font-family: 'Michroma', sans-serif;
}

.bg-dark-opac{
    background-color:rgba(52,58,54,0.8);
}

.bg-light-opac{
    background-color:rgba(248,249,250,0.8); 
}

.bg-warning-opac{
    background-color:rgba(255,193,7,0.8);
}

footer {
    display:flex;
    flex-direction: column;
    position:absolute;
    bottom:0;
    width: 100%;
}

a{
    outline:0;
    transition:0.3s;
}

.rem{
    height:2rem;
}

/* Pages admins*/
/* petites images de syndicat */
.tinyImg{
    width:10%;
}


.adminTopic{
    display:block;
    width:100%;
    padding:.25rem 1.5rem;
    clear:both;
    font-weight:400;
    color:rgb(248,249,250);
    text-align:inherit;
    background-color:transparent;
    border:0
}

.adminTopic:hover{
    color:black;
    text-decoration:none;
    background-color:#f8f9fa
}

/* tabs accordeon*/

.navLinkHovering:hover{
    color:#28a745;
    text-decoration:none;
    background-color:black;    
}

.nav-tabs {
    display:none;
}

.accordCard,.accordCardBody{
    background-color:rgba(248,249,250,0.7); 
}

/*vidéo de background*/

video#bgvid {
    position: fixed; 
    right: 0; 
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    width: auto; 
    height: auto; 
    z-index: -100;
    background-size: cover;
}

/*navbar*/

.nav-link {
    color:white;
    background-color:transparent;
    border-color:transparent;
}

.topBorder {
    width: 100%;
    height: 6.5rem;
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgba(0,0,0,0.5);
}

/* border utilisées par ajax*/

.redBorder{
    border:red 2px solid;
}

/*lightbox de recherche*/

.search, .bigSearch {
    cursor: pointer
}

.bigSearch {
    position: fixed;
    top: 20%;
    left: 25%;
    width: 50%;
    height: 60%;
    background-color: rgba(52,58,54,0.9);
    z-index:1021;
    display: none;
    align-items: center;
    justify-content: center;
}


/*lightbox de connexion*/

.connection, .bigConnection {
    cursor: pointer
}

.bigConnection {
    position: fixed;
    top: 15%;
    left: 25%;
    width: 50%;
    height: 70%;
    background-color: rgba(52,58,54,0.9);
    z-index:1021;
    display: none;
    align-items: center;
    justify-content: center;
}

/* Page d'accueil */
/* conteneur principal page d'accueil*/

.wrapper{
    display: flex;
    width: 100%;
    align-items: stretch;
}

/* largeur du "titre" de la page d'accueil */
.lastSubscriberWidth{
    width:50%!important;
}

/* Liste verticale cachée + d'inscrits sur le coté*/
/* Largeur de la sideList lorsque celle ci est fermée avec transition de 0.5sec lorsque celle ci s'ouvre */

#sideList {
    min-width: 450px;
    max-width: 450px;
    transition:0.5s;
}

/* Largeur de la sideList lorsque celle ci est fermée avec transition de 0.5sec lorsque celle ci se ferme */

#sideList.active{
    min-width: 0px;
    max-width: 0px;
    transition:0.5s;
}

/* permet d'eviter que le contenu de la liste n'apparaisse trop tot,le contenu hors du flux etant caché sur l'axe x*/

#sideListContent{
    overflow-x: hidden;
}

/* Lorsque la liste est fermée, cacher le contenu */

#sideList.active #sideListContent {
    display:none;
}

/* taille des images */

.smallImgWidth{
    width:13%;
}

/* captcha */

.g-recaptcha div{
    margin:auto;
}

/* Media */
/* au dela de 1200 px, les accordeons fonctionnent comme des tabs */

@media(min-width:1201px) {
    .nav-tabs {
        display: flex;
    }

    .accordCard {
        border: none;
    }

    .accordCard .accordCardHeader {
        display:none;
    }  

    .accordCard .accordCardCollapse{
        display:block;
    }

    .btn-dark {
        color:#fff;
        background-color:#34403F;
        border-color:#292d2c;
    }
}

/*En dessous de 1201px, les tabs deviennent des accordeons */

@media(max-width:1200px){

    .tab-content > .tab-pane { 
        display: block;
        opacity: 1;
    }

    .btn-dark {
        color:#fff;
        background-color:#707471;
        border-color:#292d2c;
    }
}

/*en dessous de 375px, retire la video et cache divers chose de la navbar */

@media screen and (max-width:375px) {

    video{
        display:none;
    }

    body {
        background-image: url(../Images/warframe7.jpg);
        background-size: cover;
        background-position: 77%;
        background-repeat: no-repeat;
        padding-bottom: 714px;
    }

    #miniWar {
        display: none;
    }

    .topBorder h1 {
        display: none;
    }

    .topBorder {
        height: 2rem;
    }

    .warButton {
        margin-top: -0.5rem;
    }

    .nav-item{
        background-color:rgba(52,58,54,0.8);   
    }

    .helloMember{
        display:none;
    }
}

/*entre 376 et 414px, retire la video et cache divers chose de la navbar */

@media screen and (min-width:376px) and (max-width:414px) {

    #miniWar {
        display: none;
    }

    video{
        display:none;
    }

    body {
        background-image: url(../Images/warframe7.jpg);
        background-size: cover;
        background-position: 77%;
        background-repeat: no-repeat;
        padding-bottom: 666px; /* height of your footer */
    }

    .topBorder h1 {
        display: none;
    }

    .topBorder {
        height: 2.2rem;
    }

    .warButton {
        margin-top: -0.4rem;
    }

    .nav-item{
        background-color:rgba(52,58,54,0.8);   
    }

    .helloMember{
        display:none;
    }
}

/*entre 415 et 480px, retire la video et cache divers chose de la navbar */

@media screen and (min-width:415px) and (max-width:480px) {

    #miniWar {
        display: none;
    }

    video{
        display:none;
    }

    body {
        background-image: url(../Images/warframe7.jpg);
        background-size: cover;
        background-position: 77%;
        background-repeat: no-repeat;
        padding-bottom: 618px; /* height of your footer */
    }

    .topBorder h1 {
        display: none;
    }

    .topBorder {
        height: 2.4rem;
    }

    .warButton {
        margin-top: -0.3rem;
    }

    .nav-item{
        background-color:rgba(52,58,54,0.8);   
    }

    .helloMember{
        display:none;
    }
}

/*entre 481 et 550px, retire la video et cache divers chose de la navbar */

@media screen and (min-width:481px) and (max-width:550px) {

    #miniWar {
        display: none;
    }

    video{
        display:none;
    }

    body {
        background-image: url(../Images/warframe7.jpg);
        background-size: cover;
        background-position: 77%;
        background-repeat: no-repeat;
        padding-bottom: 594px; /* height of your footer */
    }

    .topBorder h1 {
        display: none;
    }

    .topBorder {
        height: 2.4rem;
    }

    .warButton {
        margin-top: -0.2rem;
    }

    .nav-item{
        background-color:rgba(52,58,54,0.8);   
    }

    .helloMember{
        display:none;
    }
}

/*entre 551 et 650px, retire la video et cache divers chose de la navbar */

@media screen and (min-width:551px) and (max-width:650px) {

    video{
        display:none;
    }

    body {
        background-image: url(../Images/warframe7.jpg);
        background-size: cover;
        background-position: 77%;
        background-repeat: no-repeat;
        padding-bottom: 594px; /* height of your footer */
        
    }

    #miniWar {
        display: none;
    }

    .topBorder h1 {
        display: none;
    }

    .topBorder {
        height: 2.6rem;
    }

    .warButton {
        margin-top: -0.2rem;
    }

    .nav-item{
        background-color:rgba(52,58,54,0.8);   
    }

    .helloMember{
        display:none;
    }
}

/*entre 651 et 735px, retire la video et cache divers chose de la navbar */

@media screen and (min-width:651px) and (max-width:735px) {

    #miniWar {
        display: none;
    }

    video{
        display:none;
    }

    body {
        background-image: url(../Images/warframe7.jpg);
        background-size: cover;
        background-position: 77%;
        background-repeat: no-repeat;
        padding-bottom: 570px; /* height of your footer */
    }

    .topBorder h1 {
        display: none;
    }

    .topBorder {
        height: 2.9rem;
    }

    .nav-item{
        background-color:rgba(52,58,54,0.8);   
    }

    .helloMember{
        display:none;
    }
}

/*entre 736 et 740px, repositionne la vidéo, cache certaine chose de la navbar (les medias suivants font la meme chose )) */

@media screen and (min-width:736px) and (max-width:740px) {

    #miniWar {
        display: none;
    }

    .topBorder h1 {
        display: none;
    }

    body {
        padding-bottom: 570px; /* height of your footer */
    }

    video#bgvid {
        position: fixed;
        left: -50%;
        right: 0; 
        bottom: 0;
        min-width: 100%; 
        min-height: 100%;
        width: auto; 
        height: auto; 
        z-index: -100;
        background-size: cover;
    }

    .topBorder {
        height: 2.9rem;
    }

    .nav-item{
        background-color:rgba(52,58,54,0.8);   
    }

    .helloMember{
        display:none;
    }
}

@media screen and (min-width:741px) and (max-width:800px) {

    #miniWar {
        display: none;
    }

    .topBorder h1 {
        display: none;
    }


    body {
        padding-bottom: 473px; /* height of your footer */
    }

    video#bgvid {
        position: fixed;
        left: -90%;
        right: 0; 
        bottom: 0;
        min-width: 100%; 
        min-height: 100%;
        width: auto; 
        height: auto; 
        z-index: -100;
        background-size: cover;
    }

    .topBorder {
        height: 2.9rem;
    }

    .nav-item{
        background-color:rgba(52,58,54,0.8);   
    }

    .helloMember{
        display:none;
    }
}

@media screen and (min-width:801px) and (max-width:900px) {

    #miniWar {
        display: none;
    }

    .topBorder h1 {
        display: none;
    }

    .topBorder {
        height: 3.7rem;
    }

    body {
        padding-bottom: 449px; /* height of your footer */
    }

    video#bgvid {
        position: fixed;
        left: -50%;
        right: 0; 
        bottom: 0;
        min-width: 100%; 
        min-height: 100%;
        width: auto; 
        height: auto; 
        z-index: -100;
        background-size: cover;
    }

    .warButton {
        margin-top: 0.2rem;
    }

    .nav-item{
        background-color:rgba(52,58,54,0.8);   
    }

    .helloMember{
        display:none;
    }
}

@media screen and (min-width:901px) and (max-width:1200px) {


    #miniWar {
        display: none;
    }

    .topBorder h1 {
        display: none;
    }

    .topBorder {
        height: 3.7rem;
        text-align: center;
    }

    body {
        padding-bottom: 449px; /* height of your footer */
    }

    .warButton {
        margin-top: 0.2rem;
    }

    .nav-item{
        background-color:rgba(52,58,54,0.8);   
    }

    .helloMember{
        display:none;
    }
}

/* repositionnement et redimension des lightbox de recherche et de connexion en dessous de 950 px */

@media screen and (max-width:950px) {

    .bigConnection {
        position: fixed;
        top: 5%;
        left: 5%;
        width: 90%;
        height: 90%;
        background-color: rgba(52,58,54,0.9);
        z-index:1021;
        display: none;
        align-items: center;
        justify-content: center;
    }
    .bigSearch {
        position: fixed;
        top: 5%;
        left: 5%;
        width: 90%;
        height: 90%;
        background-color: rgba(52,58,54,0.9);
        z-index:1021;
        display: none;
        align-items: center;
        justify-content: center;
    }

    .lastSubscriberWidth{
        width:100%!important;
    }


}

/* repositionnement et redimension des lightbox de recherche et de connexion entre 951 et 1200px */

@media screen and (min-width:951px) and (max-width:1200px){

    .bigConnection {
        position: fixed;
        top: 5%;
        left: 5%;
        width: 90%;
        height: 90%;
        background-color: rgba(52,58,54,0.9);
        z-index:1021;
        display: none;
        align-items: center;
        justify-content: center;
    }
    .bigSearch {
        position: fixed;
        top: 10%;
        left: 5%;
        width: 90%;
        height: 80%;
        background-color: rgba(52,58,54,0.9);
        z-index:1021;
        display: none;
        align-items: center;
        justify-content: center;
    }

    .lastSubscriberWidth{
        width:50%!important;
    }


}

/* dissimulation ou redimension de la side list en fonction de la taille du viewport */

@media (max-width: 1024px) {
    #sideList {
        display:none;
    }
    #sideListCollapse{
        display:none;
    }
}

@media (max-width: 1280px) {
    #sideList {
        min-width: 250px;
        max-width: 250px;
    }
    #sideList.active {
        display:none;

    }
}

/*captcha sur petit ecran.*/

@media screen and (max-width: 400px) {

    /* media pour réduire le captcha */
    .g-recaptcha {
        transform: scale(0.89);
        -webkit-transform: scale(0.89);
        transform-origin: 0 0;
        -webkit-transform-origin: 0 0;
    }

}

